@import "./constants.scss";

.drop-down-menu {
	animation: fadeIn ease-in 5s;
	border-radius: 5px;
	box-shadow: 2px 0px 12px -2px $color-black;
	margin: 0px 20px 0 20px;
	position: relative;
	z-index: 1;
	@include flexbox(
		column,
		center,
		center
	);

	@media screen and (max-width: $breakpoint-tablet-portrait) {
		margin: 20px 20px 10px 20px;
		position: unset;
	}

	.drop-down-menu-title {
		animation: fadeIn ease-in 5s;
		height: 30px;
		width: 200px;
		background-color: $color-blue;
		border-radius: 5px 5px 0 0;
		color: $color-white;
		font-size: 20px;
		font-weight: bold;
		@include flexbox(
			column,
			center,
			center
		);
	}

	.drop-down-menu-choose {
		height: 40px;
		width: 200px;
		background-color: $color-gray;
		border-radius: 0 0 5px 5px;
		text-align: center;
		@include flexbox(
			column,
			center,
			center
		);

		&:hover, &:focus {
			background-color: $color-yellow;
			color: $color-black;
			cursor: pointer;
		}

		.drop-down-menu-choose-text {
			font-size: 16px;
			margin: 0 5px 0 5px;
		}
	}

	.drop-down-menu-options {
		max-height: 300px;
		width: 200px;
		background-color: $color-gray;
		border-radius: 0 0 5px 5px;
		box-shadow: 2px 0px 12px -2px $color-black;
		overflow-y: scroll;
		position: absolute;
		top: 30px;
		scrollbar-width: none;
		-ms-overflow-style: none;

		@media screen and (max-width: $breakpoint-tablet-portrait) {
			position: unset;
		}

		.drop-down-menu-route {
			min-height: 40px;
			width: 100%;
			background-color: $color-gray;
			border-bottom: 1px solid $color-blue;
			color: $color-blue;
			margin: 0;
			text-align: center;
			padding: 0;
			@include flexbox(
				row,
				center,
				center
			);

			&:hover, &:focus {
				background-color: $color-yellow;
				color: $color-black;
				cursor: pointer;
			}

			.drop-down-menu-route-text {
				font-size: 16px;
				margin: 0 5px 0 5px;
			}
		}
	}
}

.drop-down-menu-options::-webkit-scrollbar {
    display: none;
}
