@import "./constants.scss";

.metro-content {
	height: 100%;
	max-width: 100%;
	background-color: $color-gray;
	@include flexbox(
		row,
		center,
		center
	);

	.metro-content-title {
		color: $color-white;
		font-size: 20px;
		margin: 0 0 0 10px;
		text-align: right;

		@media screen and (max-width: $breakpoint-mobile-landscape) {
			font-size: 14px;
		}
	}
}
